@import '~antd/dist/antd.css';
.App {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.schedulePanel{
  display: flex;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: fit-content;
}

.newEventCard{
  width: 75%;
}

.required .ant-form-item-label::after{
  content: ' *';
  font-size: small;
  position: relative;
  top:0;
}

label{
  font-weight: 800;
}

@media  screen and (max-width:769px) {
  .schedulePanel{
    flex-direction: column;
  }

  .schedulePanel .newEventCard{
    width: 100%;
  }
  
}

.outlinedButton{

  color:#40a9ff;
  border-color: #40a9ff;
}